/*Reseting the webpage*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
:root{
  --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}
body{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: var(--Grayish-blue) ;
    flex-direction: column;
    flex-wrap: wrap;
}
.container{
    background-color:var(--White);
    max-height: 497px;
    width: 330px;
    border-radius: 20px;
    text-align: center;
    padding: 5px;
}
.container img{
    width: auto;
    height: 300px;
    border-radius: 15px;
    margin: 10px 0px;
    } 

.elements h1{
    font-size: 20px;
    color: var(--Dark-blue);
    margin-bottom: 0;
    text-align: center;
    font-weight: 700;
    padding: 5px;
}
.elements p{
    font-size: 15px;
    font-weight: 400;
    color:var(--Grayish-blue);
    margin: 10px;
    padding:20px 0;
   /* margin-top: 0;
   
    */
}

.attribution { 
    font-size: 11px; 
    text-align: center; }
.attribution a { 
    color: hsl(228, 45%, 44%); }
    footer{
        position:fixed ; /* Stay where you are been put*/
        bottom: 0; /*At the bottom with no space in between*/
        width:100%; /*filling the width of my body*/
        padding-bottom: 10px;
    }